.content-block {
  padding: 80px 0 100px;
}
@media screen and (max-width: 767px) {
  .content-block {
    padding: 30px 20px;
  }
}
.content-block__container {
  max-width: 775px;
}
.content-block__container > :last-child {
  margin-bottom: 0;
}
.content-block h2 {
  font-family: DIN Pro;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #222222;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .content-block h2 {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
.content-block p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4E4D53;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .content-block p {
    margin-bottom: 15px;
  }
}
